.contact-wrapper{
    display: flex;
    @media(max-width: 640px){
        flex-direction: column-reverse;
    }
    &__col{
        flex-basis: 50%;
        position: relative;
        &-image{
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 0;
            top: 0;
            @media(max-width: 640px){
                position: relative;
                width: 100%;
                height: 50vh;
            }
        }
        &-form{
            height: 100%;
            padding: 25px 50px;
            max-width: 80%;
            @media(max-width: 992px){
                padding: 25px 25px;
                max-width: 100%;
            }
            @media(max-width: 640px){
                padding: 25px 15px;
                max-width: 100%;
            }
            .heading{
                font-weight: 500;
                font-size: 32px;
                line-height: 48px;
                /* identical to box height */
                color: rgba(0, 0, 0, 0.85);
                margin-bottom: 10px;
            }
            p{
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                /* or 150% */


                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
    &__detail{
        background-color: #3B5C19;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 100px;
        color: #fff;
        @media(max-width: 640px){
            position: relative;
            transform: unset;
            top: unset;
            padding: 50px 15px;
            padding-bottom: 25px;
        }
        .list-contact{
            list-style: none;
            @media(max-width: 640px){
                margin-bottom: 50px;
            }
            li{
                position: relative;
                margin-bottom: 18px;
                i{
                    position: absolute;
                    left: -38px;
                    top: -1px
                }
                p{
                    margin-bottom: unset;
                    font-size: 15px;
                }
                a{
                    margin-bottom: unset;
                    font-size: 15px;
                    color: #fff;
                    text-decoration: none;
                    transition: all .2s ease-in;
                    &:hover{
                        color: darken($color: #fff, $amount: 10%);
                    }
                }
            }
        }
    }
}


.contact-form{
    .form-control{
        font-size: 16px;
        border: 1px solid #EAEAEA;
        padding: 22px 15px;
    }
    textarea{
        padding-top: 15px !important;
    }
}